/* font colors */

$font-white: #faf9f8;
$font-light-gray: #949494;
$font-dark: #2d2d2d;
$font-blue: #085ff7;


/* background colors */

$background-white: #fff;
$background-light: #efefef;
$background-dark:  #2d2d2d;
$background-blue: #085ff7;

/* border colors */

$border-light: #d4d2d0;
