.add-job-container {
  margin-top: 140px;
  width: 70%;
  height: 75%;
  background: #FFFFFF;
  border: 1px solid #d4d2d0;
  border-radius: 8px;
}

.add-job-headers {
  height: 80px;
  padding: 25px 0 0 30px;
  border-bottom: 1px solid #d4d2d0;
}

.add-job-heading {
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
}

.add-job--sub-heading {
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.add-job-form {
  height: 460px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.label {
  font-family: "Helvetica Neue";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.sub-label {
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #767676;
}

.add-job-input {
  width: 288px;
  height: 44px;
  border: 1px solid #949494;
  border-radius: 8px;
  margin-bottom: 15px;
}

.add-job-footer{
  height: 70px;
  border-top: 1px solid #d4d2d0;
}