.add-job-button {
  color: #ffff;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  background: #085FF7;
  padding: 13px, 16px, 13px, 16px;
  border-radius: 8px;
  width: 91px;
  height: 44px;
  border: none;
}