@import "./_colors.scss";

/* app container */
.new-app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-container {
  background: $background-light;
  min-height: 100%;  
  width: 100%;
  // it is positioned absolutely with reference to the closest parent that has a position relative value.
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 0px;
  }
}