/* header */

.header-container {
  margin-top: 150px;
  width: 70%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-jobs {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #2d2d2d;
}

@media screen and (max-width: 768px) {
  .header-container {
    margin-top: 30%;
  }
  .header-jobs {
    font-size: 18px;
  }
}