@import "./_colors.scss";
@import "./_buttons.scss";
@import "./_fonts.scss";

/* job form */

/* job form container */

.job-form-container {
  margin: 140px 0 20px 0;
  width: 70%;
  background: $background-white;
  border: 1px solid $border-light;
  border-radius: 8px;
}

@media screen and (max-width: 768px) {
  .job-form-container {
    width: 95%;
    height: 90%;
    margin-top: 70px;
  }
}

/* job form headers */

.form-headers {
  height: 80px;
  padding: 25px 0 0 30px;
  border-bottom: 1px solid $border-light;
}

@media screen and (max-width: 768px) {
  .form-headers {
    padding: 20px;
  }
}

.form-heading {
  font-family: $noto-sans;
  font-size: 20px;
  font-style: normal;
  font-weight: $bold;
  line-height: 30px;
  letter-spacing: 0em;
}

.form-sub-heading {
  font-family: $noto-sans;
  font-size: 16px;
  font-style: normal;
  font-weight: $regular;
  line-height: 24px;
  letter-spacing: 0em;
}

.job-form {
  height: 460px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

@media screen and (max-width: 768px) {
  .job-form {
    padding: 30px 30px 10px 30px;
  }
}

.label {
  font-family: $helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: $bold;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: $font-dark;
}

.sub-label {
  font-family: $helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: $regular;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: $font-light-gray;
}

/* job form input */

input {
  font-family: $helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: $regular;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 10px;
}

select {
  font-family: $helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: $regular;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../images/caret.svg");
  background-position: 260px center;
  background-repeat: no-repeat;
}

.input {
  width: 274px;
  height: 40px;
  border: 1px solid $border-light;
  border-radius: 8px;
  margin-bottom: 15px;
}

.select-input {
  width: 288px;
  height: 44px;
  border: 1px solid $border-light;
  border-radius: 8px;
  margin-bottom: 15px;
  background-color: $background-white;
}

/* job form footer */

.job-form--footer {
  height: 105px;
  padding: 0px 0 0 30px;
  border-top: 1px solid $border-light;
}

.footer-buttons {
  margin: 18px 18px 0 0;
  float: right;
}

.update-button {
  color: $font-white;
  font-family: "Helvetica Neue";
  font-style: normal;
  font-weight: $bold;
  font-size: 16px;
  line-height: 18px;
  background: $background-blue;
  padding: 13px 16px 13px 16px;
  border-radius: 8px;
  width: 91px;
  height: 44px;
  border: none;
}
