/* jobs list container */

.jobs-list-container {
  width: 70%;
  border-radius: 4px;
  margin: 50px 0 50px 0;
}

@media screen and (max-width: 768px) {
  .jobs-list-container {
    width: 95%;
    margin: 15% 0 10% 0;
  };
}

/* jobs list headers */

.jobs-list-headers {
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color:  #949494;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 768px) {
  .jobs-list-headers {
    font-family: Noto Sans;
    font-size: 14px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.header-title {
  min-width: 70px;
  padding: 0 28% 0 2%;
}

.header-posted {
  padding-right: 10%;
}

.header-sponsorship {
  padding-right: 8%;
}

.header-status {
  padding-right: 150px;
}

@media screen and (min-width: 1154px) { 
  .header-posted {
    padding-right: 13%;
  }
  
  .header-sponsorship {
    padding-right: 11%;
  }
  
  .header-status {
    padding-right: 150px;
  }
}

@media screen and (max-width: 768px) {
  .header-title {
    padding: 0 25px 0 15px;
  }

  .header-posted {
    padding-right: 10px;
  }

  .header-sponsorship {
    padding-right: 10px;
  }

  .header-status {
    padding-right: 10px;
  }
}