/* jobs list container */

.jobs-list-container {
  width: 70%;
  border-radius: 4px;
  margin: 50px 0 50px 0;
}

@media screen and (max-width: 768px) {
  .jobs-list-container {
    width: 95%;
    margin: 15% 0 10% 0;
  };
}

/* jobs list headers */

.jobs-list-headers {
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  color:  #949494;
  padding: 10px 0 10px 20px;
  text-align: left;
  display: grid;
  grid-template-columns: 40% 15% 19% 35%;
}

@media screen and (max-width: 768px) {
  .jobs-list-headers {
    font-family: "Noto Sans";
    font-size: 14px;
    padding-left: 0px;
    display: grid;
    grid-template-columns: 25% 20% 30% 20%;
  }
}

.header-title {
  min-width: 70px;
}

@media screen and (min-width: 1154px) { 
  .jobs-list-headers {
    display: grid;
    grid-template-columns: 41% 17% 17% 25%;
  }

}

@media screen and (max-width: 768px) {
  .header-title {
    padding: 0 15px;
  }
}