/* banner */

.banner {
  position: absolute;
  height: 64px;
  left: 0px;
  top: 0px;
  background: #2D2D2D;
  width: 100%;
}
 
 /* navigation */

 .nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
 }

.header {
  color: white;
  font-family: Helvetica Neue;
  margin: 20px 20px 0 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  height: 10px;
}

/* user profile */

.user-profile--image {
  width: 36px;
  height: 36px;
  left: 822px;
  margin: 12px 8px 0 0;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin-top: 11px;
}

.user-profile--name {
  left: 866px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #FAF9F8;
}

.user-profile--role {
  width: 35px;
  height: 18px;
  left: 866px;
  top: 35px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #FAF9F8;
}